@import '~/assets/css/utils.css';

:root {
  --primary: #b9e0f2;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

*:hover {
  transition-duration: 0.2s;
}

html,
body {
  font-size: 1rem;
  font-family: 'Noto Sans', sans-serif;
  color: #94a9c9;
  background-color: #0f172a;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  position: relative;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #000000;
}

a,
button,
img,
input,
span,
h4 {
  transition: all 0.3s ease 0s;
}

.hover-up {
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.hover-up:hover {
  transform: translateY(-2px);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.hover-shadow {
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.hover-shadow:hover {
  box-shadow: rgba(11, 209, 209, 0.2) 0px 3px 20px;
}

.color-linear {
  background: linear-gradient(
      90deg,
      rgb(14, 165, 234),
      rgb(11, 209, 209) 51%,
      rgb(14, 165, 234)
    )
    var(--x, 0) / 200%;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  text-fill-color: transparent;
}

.color-white {
  color: #b9e0f2;
}

.form-control {
  border-radius: 8px;
  padding: 20px;
  border-width: 1px;
  border-style: solid;
  color: #7f92b0;
}

.form-control:focus {
  border-color: #66768f !important;
  background-color: #131c31;
  color: #7f92b0;
}

.font-xs {
  font-size: 12px;
}

.btn {
  border-radius: 6px;
  padding: 10px 16px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  display: inline-block;
  border: 0;
}

.btn:hover {
  color: #1cc2e7 !important;
}

.btn.btn-linear {
  background: rgb(14, 165, 234);
  background: linear-gradient(
      90deg,
      rgb(14, 165, 234),
      rgb(11, 209, 209) 51%,
      rgb(14, 165, 234)
    )
    var(--x, 0) / 200%;
  color: #ffffff;
  transition: 0.5s;
}

.btn.btn-linear:hover {
  --x: 100%;
  color: #ffffff !important;
  transition: 0.5s;
}

.btn.btn-linear i {
  vertical-align: middle;
  display: inline-block;
}

input {
  color: #7f92b0;
}

h1 {
  font-weight: 800;
  font-size: 64px;
  line-height: 87px;
  color: #000000;
}

h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 61px;
  color: #000000;
}

h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #000000;
}

h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

@media (max-width: 767.98px) {
  h1 {
    font-size: 44px;
    line-height: 63px;
  }

  h2 {
    font-size: 35px;
    line-height: 45px;
  }
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 34px;
    line-height: 53px;
  }

  h2 {
    font-size: 25px;
    line-height: 35px;
  }

  h4 {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 499.98px) {
  h3 {
    font-size: 22px;
    line-height: 31px;
  }

  h1 {
    font-size: 29px;
    line-height: 45px;
  }

  h2 {
    font-size: 20px;
    line-height: 30px;
  }
}
