.p-20 {
  padding: 20px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.text-lg {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.text-sm {
  font-size: 14px !important;
  line-height: 20px !important;
  font-weight: 400;
}

.text-sm-bold {
  font-size: 14px !important;
  line-height: 20px !important;
  font-weight: 700;
}

.color-gray-600 {
  color: #7f92b0;
}

.color-gray-700 {
  color: #66768f;
}

.bg-gray-850 {
  background-color: #131c31;
}

.border-gray-800 {
  border-color: #222f43 !important;
}

.border-gray-850 {
  border-color: #131c31 !important;
}

.border-gray-500 {
  border-color: #94a9c9 !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

*:focus,
select:focus,
.custom-select:focus,
button:focus,
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='number']:focus,
[type='text'].form-control:focus,
[type='password'].form-control:focus,
[type='email'].form-control:focus,
[type='tel'].form-control:focus,
[contenteditable].form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: 0.4s;
  transition: 0.4s;
}

li.hr span {
  width: 100%;
  height: 1px;
  background-color: #e4e4e4;
  margin: 20px 0;
  display: block;
}

::-moz-placeholder {
  color: #b8cdeb;
  opacity: 0.5;
}

::placeholder {
  color: #b8cdeb;
  opacity: 0.5;
}

:-ms-input-placeholder,
::-webkit-input-placeholder {
  color: #b8cdeb;
  opacity: 0.5;
}
